VITE_API_URL=http://localhost:8000 # backend api
VITE_GOOGLE_CLIENT_ID="" # google oauth client id
VITE_DISABLE_BUILD_OPTIMIZATIONS=false # set true to disable minify/treeshake
VITE_THEME="" # set to "sage" for sage theme, leave empty for default
VITE_PORT=1420 # frontend dev server port
